body {
    background-color: beige;
    font-family: Arial;
}

h1 {
    color: darkgreen;
}

h2 {
    color: green;
}

h3 {
    color: black;
}

p {
    color: black;
}

.foto {
    width: 150px;
    height: 150px;
}

.inicio {
    display: flex;
}

hr {
    border-color: green;
}